@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}
html {
    background: #1e1e1e;
    width: 100%;
    height: 100%;
}
.navbar {
    background-color: #1e2124;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    max-height: 100px;
    border-bottom:
}
.navbar .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.navbar .items li {
    list-style-type: none;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
}
.navitem {
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 20px;
}
.navitem:hover {
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 20px;
}
.cu-pointer {
    cursor: pointer;
}